@import url("fonts.css");
@import url("reset.css");
body {
   background: url(../img/pattern.jpg) center fixed;
   font-family: "Inter", sans-serif;
}
.wrapper {
   min-height: 100%;
   overflow: clip;
   padding: 50px;
}
.header {
   padding: 30px;
   font-size: 30px;
   font-weight: 600;
   text-align: center;
}

/* 1 */
.container {
   max-width: 1220px;
   margin: 0 auto;
   background-color: #696969cc;
   margin-bottom: 50px;
}
.box {
   width: 250px;
   height: 250px;
   background-color: #e9e9e952; 
   display: inline-block;
   padding: 25px;
   vertical-align: top;
}
.container__block:not(:last-child) {
   margin-right: 50px;
   margin-bottom: 30px;
}
.item {
   color: #ffffff;
   font-size: 20px;
   width: 200px;
   height: 200px;
   background-color: #381a24;
   text-align: center;
   padding: 50px 10px;
}
.container__block:hover .box__item-1 {
   transform: translate(20px, 20px);
}
.box__item-2:hover {
   transform: scale(0.5);
}
.container__block:hover .box__item-3 {
   transform: scale(-1,1);
}
.container__block:hover .box__item-4 {
   transform: scale(0.5);
}
.container__block:hover .box__item-5 {
   transform: rotate(20deg);
}
.box__item-6 {
   transform: rotate(20deg);
}
.container__block:hover .box__item-7 {
   transform: skew(10deg, 20deg);
}
.box__item-8 {
   transform: skew(-15deg);
}
.box__item-9 {
   transform-origin: 100px 20px;
   transform: rotate(20deg);
}
.box__item-10 {
   width: 200px;
   height: 200px;
   position: relative;
}
.box__item-10::before {
   content: "";
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   background-color: #381a24;
   position: absolute;
   transform: skew(-20deg);
}
.container__block p {
   position: relative;
   color: #ffffff;
   padding: 70px 20px;
   font-size: 20px;
}
/* машинка */
.chapter {
   max-width: 100%;
   height: 880px;
   background: url("../img/road1.webp") center no-repeat;
   background-size: 100%;
   position: relative;
}
.car {
   max-width: 500px;
   height: 310px;
   position: relative;
   top: 500px;
   left: 50px;
}
.top {
   position: relative;
}
/* верх */
.top__car  {
   max-width: 260px;
   height: 85px;
   background-color: #F86F03;
   border-radius: 80px 90px 0 0;
   position: absolute;
   top: 110px;
   left: 90px;
   width: 100%;
   border: 4px solid #bfc276;
}
/* окнo */
.top__car::before {
   content: "";
   position: absolute;
   width: 110px;
   height: 62px;
   background-color: #ffffff;
   border-radius: 70px 0 0 0;
   top: 10px;
   left: 10px;
   border: 4px solid #bfc276;
   z-index: 1;
}
/* окнo */
.top__car::after {
   content: "";
   position: absolute;
   width: 100px;
   height: 62px;
   background-color: #ffffff;
   border-radius:  0 70px 0 0;
   top: 10px;
   left: 140px;
   border: 4px solid #bfc276;
   z-index: 1;
}
/* низ */
.car__bottom {
   max-width: 350px;
   height: 90px;
   background-color: #F86F03;
   border-radius: 0 90px 10px 10px;
   position: absolute;
   top: 180px;
   left: 90px;
   width: 100%;
   border: 4px solid #bfc276;
   border-top: none;
   position: relative;

}
/* перегородка-дверь */
.partition {
   position: absolute;
   width: 4px;
   height: 146px;
   background-color: #bfc276;
   left: 232px;
   top: 124px;
   z-index: 2;
}
/* ручка */
.car__handle {
   position: absolute;
   width: 40px;
   height: 10px;
   left: 240px;
   top: 200px;
   z-index: 2;
   background-color: #bfc276;
   border-radius: 50% 50% 0 0;
}
/* фары */
.car__bottom::before {
   content: "";
   position: absolute;
   width: 20px;
   height: 45px;
   background-color: #ffffff;
   top: 40px;
   left: 330px;
   border-radius: 0 50px 50px 0;
   z-index: 3;
   border-left: 9px solid #bdb76b;
}

.car__bottom::after {
   content: "";
   position: absolute;
   width: 12px;
   height: 30px;
   background-color: #ff0000;
   top: 50px;
   left: -8px;
   border-radius: 50px 50px 50px 50px;
}
/* колесо */
.wheel::after,
.wheel::before {
   content: "";
   position: absolute;
   width: 90px;
   height: 90px;
   background-color: #bdb76b;
   border: 20px solid #333232;
   border-radius: 50%;
   outline: 4px dashed #3a3a3a;
}
.wheel::after {
   top: 220px;
   left: 100px;
}
.wheel::before {
   top: 220px;
   right: 100px;
}
.light {
   width: 0;
   height: 0;
   border-top: 30px solid transparent;
   border-bottom: 30px solid transparent;
   border-right: 200px solid #f4f4c145;
   position: absolute;
   top: 210px;
   left: 460px;
   visibility: hidden;
}
.chapter:hover .light,
.chapter:hover .light-red {
   visibility: visible;
}
.light-red {
   width: 20px;
   height: 20px;
   background-color: #ff000053;
   top: 235px;
   left: 70px;
   position: absolute;
   box-shadow: 2px 3px 10px #f30606;
   border-radius: 50%;
   visibility: hidden;
}






/* footer */
.footer__imege {
   padding-top: 100px;
}
.footer__imege img {
   max-width: 150px;
   border-radius: 50%;
   padding: 30px;
}