@import url("fonts.css");
@import url("reset.css");


/*--block-1--*/

.block-one-one {
   max-width: 1240px;
   margin: 0 auto;
   background-color: #f7f7f7;
   padding-bottom: 40px;
   background-image: url("../img/pattern.png");
   background-attachment: fixed;
}
.lesson {
   
   font-family: "Inter", sans-serif;
   font-size: 60px;
   font-weight: 800;
   color: #c92140;
   padding: 60px;
   text-align: center;
   text-transform: uppercase;
}
/*------block-1--------*/
/*------1--------*/
.flowers {
   font-family: "Inter", sans-serif;
   padding: 20px;
   max-width: 1020px;
   margin: 0 auto;  
   background-color: #dedcdc;
   box-shadow: rgb(125, 123, 122) 0px 20px 30px -10px;
}
.flowers-navigation {
   margin-bottom: 50px;
   text-align: center;
}
.flowers-navigation a {

   font-size: 20px;
   padding: 10px;
   color: #424855;
   border: 2px solid #424855;
   background-color: #89d68a;
   box-shadow: rgb(110, 110, 110) 0px 20px 30px -10px;
}

.flowers-navigation a:hover {
   background-color: #424855;
   border-color: #89d68a;
   color: #89d68a;
   box-shadow: rgb(67, 210, 110) 0px 20px 30px -10px;
}
/*------2--------*/
.variety {
   text-align: justify;
   margin-bottom: 30px;
}
.variety :not(:last-child) {
   margin-bottom: 20px;
}

.variety h1 {
   font-weight: 700;
   font-size: 30px;
   text-align: center;
}
.variety p {
   font-size: 20px;
}
.variety p:nth-child(odd) {
   color: #212223;
}
.variety p:nth-child(even) {
   color: #246414;
}
/*------3--------*/
.flowers-imege {
   min-width: 900px;
   min-height: 300px;
   background : url("../img/flowers.jpeg") center / cover no-repeat;
   box-shadow: 10px 20px 50px rgb(15, 18, 18);
   margin-bottom: 50px;
}
/*------4--------*/
.perennials {
   margin: 0 0 50px 50px;
}
.perennials-all {
   max-width: 200px;
}
.perennials h2,
.annual h2 {
   font-size: 30px;
   font-weight: 700;
   margin-bottom: 40px;
}
.perennials-all li {
   font-size: 25px;
}
.perennials-all a:focus {
   outline: 4px ridge #829788dd;
}
.perennials-a::before {
   content: "";
   background-color: #29a827;
   width: 20px;
   height: 20px;
   border-radius: 50%;
   display: inline-block;
   vertical-align: middle;
   margin-right: 10px;
}
.perennials-a:hover::before {
   opacity: 0.3;
}
.perennials-all li:not(:last-child) {
   margin-bottom: 20px;
}
.perennials-all a:visited {
   color: #7cb480;
}
.perennials-all li:active {
  font-size: 30px;
   color: #21c92c;
}
/*------5--------*/
.picture-flowers {
   font-size: 0;
   text-align: justify;
   margin-bottom: 50px;
}
.pick {
   margin: 0 10px;
   width: 300px;
   min-height: 300px;
}
.picture1 {
   background: url(../img/flower1.jpg) 0 0 / cover no-repeat;
   display: inline-block;
   vertical-align: top;
   box-shadow: 10px 20px 50px rgb(15, 18, 18);
}
.picture2 {
   background: url(../img/flower2.jpg) center / cover no-repeat;
   display: inline-block;
   vertical-align: top;
   box-shadow: 10px 20px 50px rgb(15, 18, 18);
}
.picture3 {
   background: url(../img/flower3.jpg) center / cover no-repeat;
   display: inline-block;
   vertical-align: top;
   box-shadow: 10px 20px 50px rgb(15, 18, 18);
}
/*------6--------*/
.annual-all {
  font-size: 0;
 
}
.flo {
   width: 200px;
   height: 200px;

}
.annual-flower h3 {
   font-size: 30px;
   font-weight: 600;
   text-align: center;
   margin-bottom: 20px;
   cursor: progress;
}
.annual-flower {
   display: inline-block;
   vertical-align: top;
}
.annual-flower img {
   width: 100%;
    /*display: none;*/
}
.annual-flower:hover img {
   /*display: block;*/
}







.footer-all h3{
   background-image: url("../img/pattern.png");
   padding: 100px;
   text-align: center;
   font-size: 60px;
}