@import url("fonts.css");
@import url("reset.css");

/*--block-1--*/
body {
   background: url("../img/room2.jpg") no-repeat fixed;
   background-position: center;
   background-size: cover;
   font-family: "Poppins", sans-serif;
   font-size: 18px;
   background-color: #F4F4F4;
}
.navigation {
   font-family: "Poppins", sans-serif;
   font-size: 30px;
   font-weight: 500;
   color: #286080;
   margin-bottom: 20px;
   text-align: center;
   text-transform: uppercase;
}
.rechabili-title h2{
   text-align: center;
   font-size: 60px;
   font-family: "Poppins", sans-serif;
   font-weight: 600;
   color: #5b6a76;
} 
.rechabili-title {
   margin-bottom: 40px;
}
.rechabili {
   max-width: 1000px;
   margin: 0 auto;
   padding: 40px 30px;
   background-color: #f4f4f48e;
   margin-bottom: 100px;
}
.rechabili-boxes h2 {
   font-size: 30px;
}
.rechabili-boxes {
   margin-bottom: 16px;
}
.rechabili-boxes-all {
   font-size: 0;
}
.rechabili-boxes-list:not(:last-of-type) {
   margin-right: 30px;
}
/*--1--*/
.rechabili-boxes-list {
   max-width: 366px;

   padding: 30px;
   background-color: #f4f4f4;
}
.rechabili-boxes-list h4 {
   font-family: "Poppins", sans-serif;
   font-size: 20px;
   font-weight: 600;
   padding-bottom: 20px;
}
.rechabili-boxes-list li {
   font-family: "Cormorant Infant", serif;
   font-size: 20px;
   font-weight: 300;
   list-style-type: disc;
   line-height: 1.55;
}
.rechabili-boxes-list li:not(:last-child) {
   margin-bottom: 10px;
}
.rechabili-boxes-list ul {
   padding-left: 30px;
}
.rechabili-boxes-list li:not(:last-child) {
   margin-bottom: 10px;
}
.rechabili-boxes-all:not(:last-of-type) {
   margin-bottom: 60px;
}
.one,
.two {
   display: inline-block;
   vertical-align: top;
}
/*--2--*/
.two {
   max-width: 570px;
}









.footer-all h3{
   padding: 70px;
   text-align: center;
   font-size: 60px;
}