@import url("fonts.css");
@import url("reset.css");


/*--block-1--*/
.block-one-one {
   max-width: 1240px;
   margin: 0 auto;
   background-color: #f7f7f7;
   padding-bottom: 40px;
   background-image: url("../img/pattern.png");
   background-attachment: fixed;
}
.lesson {
   font-family: "Inter", sans-serif;
   font-size: 60px;
   font-weight: 800;
   color: #c92140;
   padding: 60px;
   text-align: center;
   text-transform: uppercase;
}
/*------PLAY--------*/
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
.game {
   width: 900px;
   height: 1200px;
   background-color: #dedede;
   margin: 0 auto;
}
.line-start {
   width: 30px;
   height: 30px;
   background-color: #75cbed;
}
.line-1 {
   height: 30px;
   width: 300px;
   background-color: #e8f715;
}
.line-2 {
   height: 300px;
   width: 30px;
   background-color: #75cbed;
   margin-left: 270px;
}
.line-3 {
   height: 30px;
   width: 400px;
   background-color: #e8f715;
   margin-left: 270px;
}
.line-4 {
   height: 30px;
   width: 30px;
   background-color: #75cbed;
   margin-left: 640px;
}
.line-5 {
   height: 30px;
   width: 600px;
   background-color: #e8f715;
   margin-left: 70px;
}
.line-6 {
   height: 90px;
   width: 30px;
   background-color: #75cbed;
   margin-left: 70px;
}
.line-7 {
   height: 30px;
   width: 400px;
   background-color: #e8f715;
   margin-left: 70px;
}
.line-8 {
   height: 80px;
   width: 30px;
   background-color: #75cbed;
   margin-left: 440px;
}
.line-9 {
   width: 500px;
   height: 500px;
   background: url("../img/winner.jpg") center / contain no-repeat;
   border-radius: 50%;
   margin: 0 auto;
}
.line-1,
.line-2,
.line-3,
.line-4,
.line-5,
.line-6,
.line-7,
.line-8,
.line-9 {
   visibility: hidden;
}

[class^="line"]:hover + [class^="line"],
[class^="line"]:hover {
   visibility: visible;
}









.footer {
   width:10px;
   height: 10px;
   background: url("../img/star.jpg") 0 0 / contain no-repeat;
   border-radius: 50%;
   padding: 100px;
   text-align: center;
}