@import url("fonts.css");
@import url("reset.css");


/*--block-1--*/
body {
   
   background-attachment: fixed;
}
.block-one-one {
   max-width: 1240px;
   margin: 0 auto;
   background-color: #f7f7f7;
   padding-bottom: 40px;
   
}
.lesson {
   background-image: url("../img/pattern.png");
   font-family: "Inter", sans-serif;
   font-size: 60px;
   font-weight: 800;
   color: #c92140;
   padding: 60px;
   text-align: center;
   text-transform: uppercase;
}

/*------section 04------*/
.evreday-fashion {
   max-width: 1440px;
   margin: 0 auto;
   font-size: 0;
   padding: 100px 0;
}
.evreday {
   max-width: 1240px;
   margin: 0 auto;
}
.evreday-title {
   background-image: url("../img/flowers.png");
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   border-top-left-radius: 15px;
   border-bottom-left-radius: 15px;
   width: 614px;
   min-height: 639px;
   display: inline-block;
   vertical-align: top;
   padding: 183px 74px 150px 74px;
}

.evreday-image {
   width: 626px;
   min-height: 639px;
   background-image: url("../img/friends.png");
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   border-top-right-radius: 15px;
   border-bottom-right-radius: 15px;
   display: inline-block;
   vertical-align: top;
}
.evreday-title h3 {
   max-width: 466px;
   color: #ffffff;
   font-size: 34px;
   font-family: "Core Sans C", sans-serif;
   font-weight: 800;
   line-height: 1.47; /* 50/34 */
   margin-bottom: 30px;
}
.evreday-title p {
   color: white;
   font-size: 20px;
   font-family: "Causten", sans-serif;
   font-weight: 300;
   line-height: 1.2;
   letter-spacing: 1px;
   margin-bottom: 60px;
}
.evreday-title a {
   display: block;
   max-width: 168px;
   border-radius: 7px;
   padding: 12px 44px;
   background-color: #ffffff;
   color: #3C4242;
   font-size: 18px;
   font-family: "Causten", sans-serif;
   font-weight: 600;
   line-height: 1.22; /* 22/18 */
}








.footer-all h3{
   background-image: url("../img/pattern.png");
   padding: 100px;
   text-align: center;
   font-size: 60px;
}