@import url("fonts.css");
@import url("reset.css");


/*--block-1--*/
body {
   
   background-attachment: fixed;
}
.block-one-one {
   max-width: 1240px;
   margin: 0 auto;
   background-color: #f7f7f7;
   padding-bottom: 40px;
   font-size: 0;
}
.lesson {
   background-image: url("../img/pattern.png");
   font-family: "Inter", sans-serif;
   font-size: 60px;
   font-weight: 800;
   color: #c92140;
   padding: 60px;
   text-align: center;
   text-transform: uppercase;
}
/*--BLOCK-2--*/
.latest-client {
   background-color: #d9d7d7;
   max-width: 1230px;
   margin: 0 auto;
   padding-top: 70px;
}
.latest-title {
   text-align: center;
}
.latest-title h5{
   color: #37393F;
   font-size: 18px;
   font-family: "Inter", sans-serif;
   font-weight: 500;
   margin-bottom: 14px;
   display: inline-block;
   margin-left: 6px;
   background: url("../img/box.png") 0 3px / 12px 12px no-repeat;
   padding-left: 18px;
}

.latest-title h2 {
   color: #37393F;
   font-size: 40px;
   font-family: "Poppins", sans-serif;
   font-weight: 700;
   line-height: 1.21; /* 48.40/40 */
   margin-bottom: 14px;
}
.latest-title-text p {
   color: #7D7D7D;
   font-size: 18px;
   font-family: "Inter", sans-serif;
   font-weight: 400;
   line-height: 1.46; /* 26.31/18 */
}
.latest-title {
   margin-bottom: 47px;
}
/*-------ФОТО-------*/

.latest-image,
.next-image {
   width: 384px;
   min-height: 582px;
   display: inline-block;
   vertical-align: top;
}
.img-one,
.img-two,
.img-four,
.img-five {
   margin-right: 34px;
}
.latest-im,
.next-image {
   width: 384px;
   min-height: 501px;
   margin-bottom: 24px;
}
.img-one .latest-im {
   background: url("../img/monitor.png") center / cover no-repeat;
}
.img-two .latest-im {
   background: url("../img/man.png") center / cover no-repeat;
}
.img-three .latest-im {
   background: url("../img/telefon.png") center / cover no-repeat;
}

.img-four .latest-im {
   background: url("../img/blonde.png") center / cover no-repeat;
} 
.img-five .latest-im {
   background: url("../img/drawing.png") center / cover no-repeat;
}
.img-six .latest-im {
   background: url("../img/coffee.png") center / cover no-repeat;
}
.latest-image-text h3 {
   color: #37393F;
   font-size: 20px;
   font-family: "Poppins", sans-serif;
   font-weight: 600;
   line-height: 1.27; /* 25.40/20 */
   margin-bottom: 10px;
}
.latest-date {
   font-size: 14px;
   font-family: "Inter", sans-serif;
   font-weight: 400;
   line-height: 1.46; /* 20.47/14 */
   background: url("../img/icon3.png") 0 -1px / 22px 22px no-repeat;
   padding-left: 26px;
   min-height: 22px;
}
.group-img-one {
   margin-bottom: 58px;
}












.footer-all h3{
   background-image: url("../img/pattern.png");
   padding: 100px;
   text-align: center;
   font-size: 60px;
}