@import url("fonts.css");
@import url("reset.css");
body {
   background: url(../img/pattern.jpg) center fixed;
}

.header,
.footer {
   padding: 30px;
   background-color: #696969;
}
.block {
   max-width: 1260px;
   background-color: #edecec;
   padding: 50px 20px;
   margin: 0 auto;
   font-size: 0;
   position: relative;
}
.block__experts:not(:last-child) {
   margin-bottom: 31px;
}
.team__whole {
   display: inline-block;
   position: relative;
   max-width: 386px;
}
.team__whole::before {
   content: "";
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   background-color: #6b77e567;
   position: absolute;
   visibility: hidden;
   z-index: 1;
}
.team__whole:hover::before {
   visibility: visible;
}
.team__whole:not(:last-child) {
   margin-right: 31px;
}
/* фото */
.team__image {
   max-width: 386px;
   height: 532px;
}
.team__image img {
   width: 100%;
}

/* иконки */
.team__social {
   position: absolute;
   top: 243px;
   left: 107px;
   visibility: hidden;
   z-index: 2;
}
.social__item {
   display: inline-block;
}
.social__item:not(:last-child) {
   margin-right: 13px;
}
.social__link {
   display: inline-block;
   width: 45px;
   height: 45px;
   border-radius: 50%;
   background-color: #40ddb6;
   position: relative;
}
.social__link::before {
   content: "";
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: #40ddb6;
   border-radius: 50%;
}
.social__link img {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   padding: 13px;
}
.social__item:hover .social__link {
   background-color: #5050e0;
   border: 3px solid #2020e3;
   border-radius: 50%;
}
.team__whole:hover .team__social {
   visibility: visible;
   z-index: 2;
}
/* инфа */
.team__info {
  width: 341px;
   max-height: 114px;
   background-color: #ffffff;
   padding: 24px 20px;
   position: absolute;
   text-align: center;
   bottom: 22px;
   left: 22px;
   z-index: 2;
}
.team__title {
   color: #37393F;
   font-family: Poppins, sans-serif;
   font-size: 25px;
   font-weight: 600;
   line-height: 1.52;
   margin-bottom: 4px;
}
.team__profession {
   color: #7D7D7D;
   font-family: Inter, sans-serif;
   font-size: 18px;
   font-weight: 400;
   line-height: 1.35;
}
