@import url("fonts.css");
@import url("reset.css");
body {
   background: url(../img/pattern.jpg) center fixed;
}

.header,
.footer {
   padding: 30px;
   background-color: #696969;
}


.block__experts {
   max-width: 1260px;
   background-color: #edecec;
   padding: 50px 20px;
   margin: 0 auto;
   font-size: 0;
   position: relative;
}
.block__experts:not(:last-child) {
   margin-bottom: 31px;
}

.team__whole {
   display: inline-block;
   position: relative;
}
/* .team__whole::before {
   content: "";
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   background-color: #6b77e567;
   position: absolute;
   visibility: hidden;
   z-index: 1;
} */
.team__whole:hover::before {
   visibility: visible;
}
.team__whole:not(:last-child) {
   margin-right: 31px;
}
/* фото */
.team__image {
   max-width: 386px;
   max-height: 532px;
}
.team__image img {
   width: 100%;
}

/* иконки */
.team__social {
   position: absolute;
   top: 243px;
   left: 107px;
   /* visibility: hidden; */
   z-index: 2;
}
.social {
}
.social__item {
   display: inline-block;
}
.social__item:not(:last-child) {
   margin-right: 13px;
}
.social__link {
   display: inline-block;
   width: 45px;
   height: 45px;
   border-radius: 50%;
   background-color: #40ddb6;
}





/* .team__social {
   position: absolute;
   top: 243px;
   left: 107px;
   visibility: hidden;
}
.team__whole:hover .team__social {
   visibility: visible;
   z-index: 2;
}

.social__link:not(:last-child) {
   margin-right: 13px;
}
.social__link:hover .social__item {
   border: 2px solid #00008b;
}
.social__item {
   width: 50px;
   height: 50px;
   border-radius: 50%;
} */
/* инфа */
.team__info {
   max-width: 341px;
   max-height: 114px;
   background-color: #ffffff;
   padding: 24px 69px;
   position: absolute;
   text-align: center;
   bottom: 22px;
   left: 22px;
   z-index: 2;
}
.team__title {
   color: #37393F;
   font-family: Poppins, sans-serif;
   font-size: 25px;
   font-weight: 600;
}
.team__profession {
   color: #7D7D7D;
   font-family: Inter, sans-serif;
   font-size: 18px;
   font-weight: 400;
   line-height: 135.187%; /* 24.334px */
}
