@import url("fonts.css");
@import url("reset.css");

/*--block-1--*/
body {
   font-family: "Inter", sans-serif;
   font-size: 18px;
   background-color: #F4F4F4;
}
.lesson {
   font-size: 30px;
   color: #1b8066;
   padding: 60px;
   text-align: center;
   text-transform: uppercase;
}
.lesson-one {
   margin-bottom: 155px;
}

/*--block-4--*/
.develop-create {
   max-width: 1110px;
   margin: 0 auto;
   font-size: 0;
}
.develop-title {
   max-width: 578px;
   padding: 70px 75px 70px 0;
   display: inline-block;    
}
.develop-title h4 {
   color: #D58417;
   font-size: 20px;
   font-family: "Cormorant Infant", serif;
   font-weight: 700;
   line-height: 1;
   /* 20/20 */
   margin-bottom: 27px;
}
.develop-title h2 {
   color: black;
   font-size: 64px;
   font-family: "Cormorant Infant", serif;
   font-weight: 700;
   line-height: 1;
   /* 64/64 */
   margin-bottom: 31px;
}
.develop-text p {
   color: #606060;
   font-size: 30px;
   font-family: "Cormorant Infant", serif;
   font-weight: 700;
   line-height: 1.4;
   /* 42/30 */
}
.develop-text {
}
.develop-image-container {
   max-width: 535px;
}
.develop-image-container,
.develop-image-a,
.develop-image-b {
   display: inline-block;
   vertical-align: top;
}
.develop-image-a {
   margin-right: 20px;
}
.develop-image-a,
.develop-image-b {
   vertical-align: middle;
}
.develop-image-a {
   width: 177px;
   height: 336px;
   border-radius: 235px;
   border: 1px solid #502203;
}
.develop-image-a img {
   width: 100%;
   border-radius: 235px;
   margin-left: -10px;
   margin-top: 20px;
}
.develop-image-b  {
   width: 307px;
   height: 500px;
   border-radius: 235px;
   border: 1px solid #502203;

}
.develop-image-b img {
   width: 100%;
   border-radius: 235px;
   margin-left: -10px;
   margin-top: 20px;
}












.footer-all h3{
   padding: 70px;
   text-align: center;
   font-size: 60px;
}