@import url("fonts.css");
@import url("reset.css");


.wrapper {
   min-height: 100%;
   overflow: clip;
   display: flex;
   flex-direction: column;
}
.wrapper > main {
   flex-grow: 1;
}
.header {
}
.page {
}
.page__container {
   max-width: 1270px;
   margin: 0 auto;
   background-color: #434242;
   color: #ffffff;
   font-size: 20px;
}
.form {
   padding: 50px;
}

.indent:not(:last-child),
.form__line:not(:last-child) {
   margin-bottom: 20px;
}
.form__input {
   height: 40px;
   padding: 0 20px;
   /* width: 100%; что бы стал блочным и дальше интегрируем в структуру,колонки... */
   /* border-radius: 0 !important; выключаем для айфонов */
}
button,
.input--red {
   background-color: #f31111;
   color: #ffffff;
}
button {
   padding: 10px 15px;
}
.range {
   margin-left: 20px;
}

.form__radio:not(:last-child) {
   margin-bottom: 10px;
}
.form__box {
   max-width: 150px;
   height: 100px;
   display: flex;
   flex-direction: column;
   gap: 10px;
   padding: 20px;
   border: 1px solid #cbcbcb;
}
.form__select {
   padding: 10px;
   font-size: 20px;
}
.form__input::placeholder {
   color: #f31111;
   transition: opacity 0.5s;
}
/* убираем надписи в форме при написании */
.form__input:focus::placeholder {
   opacity: 0;
}
/* для сообщения */
.form__textarea {
   width: 300px;
   height: 100px;
   padding: 20px;
   line-height: 120%;
    /*resize: none;  не даем возможность пользователю увелич.окно сообщения */
   resize: vertical; /*дает возможность пользователю ув. окно вертикально*/
   border-radius: 0 !important; /*убираем на всякий случай*/
}
.form__line--vertical {
   display: flex;
   flex-direction: column;
}
.form__group {
   width: 300px;
   border: 1px solid #ff4500;
   padding: 20px;
}
.form__group:not(:last-child) {
   margin-bottom: 20px;
}
.form__ttitle {
   text-align: right;
   background-color: #ff4400ac;
   padding: 10px;
}
.form__radio-two:not(:last-child) {
   margin-bottom: 20px;
}











.footer {
}

