@import url("fonts.css");
@import url("reset.css");

.wrapper {
   min-height: 100%;
   overflow: clip;
   display: flex;
   flex-direction: column;
}
.wrapper > main {
   flex-grow: 1;
}
/* ------------- */
.header__container {
   max-width: 100%;
   margin: 0 auto;
   background-color: #696969;
   color: #ffffff;
   text-align: center;
   font-size: 30px;
   font-weight: 700;
   padding: 20px;
}


