@import url("fonts.css");
@import url("reset.css");
.wrapper {
   min-height: 100%;
   overflow: clip;
   display: flex;
   flex-direction: column;
}
.wrapper > main {
   flex-grow: 1;
}
.header {
}
.page {
}
.page__container {
   max-width: 1270px;
   margin: 0 auto;
   background-color: #434242;
}
.form {
   padding: 50px;
}
.form__line {
}
.form__line:not(:last-child) {
   margin-bottom: 20px;
}
.form__input,
.input {
   padding: 10px;
}
.label,
.form__line span {
   color: #ffffff;
   font-size: 20px;
}
button {
   padding: 10px 15px;
   background-color: #f31111;
   color: #ffffff;
   border-radius: 10px;
}
.footer {
}