@import url("fonts.css");
@import url("reset.css");

.lesson {
   font-family: "Inter", sans-serif;
   font-size: 60px;
   font-weight: 800;
   color: #626467;
   padding: 60px;
   text-align: center;
   text-transform: uppercase;
}
/*--block-1--*/
body {
   background: url(../img/pattern.jpg) center fixed;
   font-family: "Inter", sans-serif;
}
.corporation {
   max-width: 1300px;
   background-color: #2020204f;
   font-size: 0;
   margin: 0 auto;
}
/* 1 */
.logos-icons li {
   margin: 20px 10px;
}
.logos-icons img {
   margin-right: 20px;
}
.icons,
.logo {
   max-width: 500px;
   padding: 20px;
   font-size: 20px;
}
.icons {
   background-color: #a1a0a0b7;
}
.logo {
   background-color: #7b7b7bbf;
}
/* 2 */
.foto li {
   font-size: 20px;
   margin-bottom: 50px;
}
.logos-icons,
.foto {
   display: inline-block;
   vertical-align: top;
}
.logos-icons {
   margin-right: 30px;
}
.footer-all img {
   max-width: 200px;
   border-radius: 50%;
   padding: 70px;
}