@import url("fonts.css");
@import url("reset.css");


/*--block-1--*/
.block-one-one {
   max-width: 1240px;
   margin: 0 auto;
   background-color: #f7f7f7;
   padding-bottom: 40px;
   background-image: url("../img/pattern.png");
   background-attachment: fixed;
}
.lesson {
   font-family: "Inter", sans-serif;
   font-size: 60px;
   font-weight: 800;
   color: #c92140;
   padding: 60px;
   text-align: center;
   text-transform: uppercase;
}
/*------block-1--------*/

/*------1--------*/
.work {
   max-width: 1220px;
   margin: 0 auto;
}
.work-title {
   margin-bottom: 41px;
}
.work-title h5 {
   color: #37393F;
   font-size: 18px;
   font-family: "Inter", sans-serif;
   font-weight: 500;
   text-align: center;
   margin-bottom: 16px;
}
.work-title h5::before {
   content: "";
   width: 12px;
   height: 12px;
   background: url("../img/square.png") 0 0 / contain no-repeat;
   display: inline-block;
   margin-right: 6px;
}
.work-title h2 {
   color: #37393F;
   font-size: 40px;
   font-family: "Poppins", sans-serif;
   font-weight: 700;
   line-height: 1.21; /* 48.40/40 */
   text-align: center;
}
/*------2--------*/
.work-block {
   font-size: 0;
   padding-top: 32px;
}
.work-block-icon1,
.work-block-icon2,
.work-block-icon3 {
   margin-top: -90px;
   margin-bottom: 30px;
}
.work-block-icon1::before {
   width: 72px;
   height: 72px;
   content: "";
   background: url("../img/kalendar.png") 0 0 / contain no-repeat;
   display: inline-block;
   border-radius: 50%;
}
.work-block-icon2::before {
   width: 72px;
   height: 72px;
   content: "";
   background: url("../img/pazl.png") 0 0 / contain no-repeat;
   display: inline-block;
   border-radius: 50%;
}
.work-block-icon3::before {
   width: 72px;
   height: 72px;
   content: "";
   background: url("../img/haczyk.png") 0 0 / contain no-repeat;
   display: inline-block;
   border-radius: 50%;
}
.section {
   max-width: 385px;
   max-height: 301px;
   text-align: center;
   background-color: #F4F4F4;
   padding: 58px 43px;
   display: inline-block;
   vertical-align: top;
}
.section:not(:last-of-type) {
   margin-right: 31px;
}
.section h3 {
   color: #37393F;
   font-size: 25px;
   font-family: "Poppins", sans-serif;
   font-weight: 600;
   line-height: 1.27; /* 31.75/25 */
   margin-bottom: 16px;
}
.section p {
   color: #7D7D7D;
   font-size: 18px;
   font-family: "Inter", sans-serif;
   font-weight: 400;
   line-height: 1.46; /* 26.31/18 */
   margin-bottom: 37px;
}
.section h5 {
   color: #6B77E5;
   font-size: 18px;
   font-family: "Inter", sans-serif;
   font-weight: 600;
   text-transform: capitalize;
}








.footer-all h3{
   background-image: url("../img/pattern.png");
   padding: 100px;
   text-align: center;
   font-size: 60px;
}