@import url("fonts.css");
@import url("reset.css");

.wrapper {
   min-height: 100%;
   overflow: clip;
   display: flex;
   flex-direction: column;
}
.wrapper > main {
   flex-grow: 1;
}
/* === */
[class*="__container"] {
   max-width: 1270px;
   margin: 0 auto;
   padding: 0px 15px;
   background-color: #ededec;
}

.page__container {
}
.products {
   padding: 50px 0px;
   margin: 0 -25px;
   display: flex;
   flex-wrap: wrap;
}
.products__column {
   padding: 0 25px;
   flex-grow: 0;
	flex-shrink: 0;
	flex-basis: 25%;
   margin-bottom: 50px;
}
.products__item {
}
.item-product {
   display: flex;
   flex-direction: column;
}
.item-product__image {
	overflow: hidden;
	border-radius: 10px;
   max-width: 270px;
   height: 393px;
}
.products__item:hover img{
 transform: scale(1.03);
}
.item-product__image img {
   width: 100%;
	transition: all 0.5s ease;
}
.item-product__body {
   display: flex;
   flex-grow: 1;
}
.item-product__image:not(:last-child) {
   margin-bottom: 15px;
}
.item-product__content {
   flex-grow: 1;
}
.item-product__title {
   flex-grow: 1;
   color: #2A2F2F;
   font-family: Causten, sans-serif;
   font-weight: 700;
   line-height: 1.55; 
}
.item-product__title:not(:last-child) {
	margin-bottom: 4px;
}

.item-product__link-title {
   flex-grow: 1;
}
.item-product__text {
   color: #7F7F7F;
   font-family: Causten, sans-serif;
   font-size: 14px;
   font-weight: 500;
   line-height: 1.35;
}
.item-product__link {
   align-self: flex-start; 
   min-height: 25px;
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: 18px;
   background: url("../img/arrow.svg") center no-repeat;
}
