@import url("https://fonts.googleapis.com/css?family=Inter:regular,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:300,regular,600,700&display=swap");

@font-face {
	font-family: "Beer money";
	src:
		url("../fonts/Beer-money-Regular.woff2") format("woff2"),
		url("../fonts/Beer-money-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Gotham";
	src:
		url("../fonts/Gotham-Book.woff2") format("woff2"),
		url("../fonts/Gotham-Book.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Gotham";
	src:
		url("../fonts/Gotham-Bold.woff2") format("woff2"),
		url("../fonts/Gotham-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "ITC Avant Garde Gothic";
	src:
		url("../fonts/ITCAvantGardeStd-Bold.woff2") format("woff2"),
		url("../fonts/ITCAvantGardeStd-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}




