@import url("https://fonts.googleapis.com/css?family=Inter:regular,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:300,regular,600,700&display=swap");

@font-face {
    font-family: 'Beer money';
    src: local('beer money'), local('beermoney'), url('beermoney.woff2') format('woff2'), url('beermoney.woff') format('woff'), url('beermoney.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
   font-family: 'Gotham';
   src: url('Gotham-Book.eot');
   src: local('Gotham Book'), local('Gotham-Book'),
       url('Gotham-Book.eot?#iefix') format('embedded-opentype'),
       url('Gotham-Book.woff2') format('woff2'),
       url('Gotham-Book.woff') format('woff'),
       url('Gotham-Book.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: 'Gotham';
   src: url('Gotham-Bold.eot');
   src: local('Gotham Bold'), local('Gotham-Bold'),
       url('Gotham-Bold.eot?#iefix') format('embedded-opentype'),
       url('Gotham-Bold.woff2') format('woff2'),
       url('Gotham-Bold.woff') format('woff'),
       url('Gotham-Bold.ttf') format('truetype');
   font-weight: bold;
   font-style: normal;
}
@font-face {
    font-family: 'ITC Avant Garde Gothic';
    src: url('ITC-Avant-Garde-Gothic.woff2') format('woff2'),
        url('ITC-Avant-Garde-Gothic.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
 }
